{% extends 'a_incidents/base.html' %}

{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="max-w-2xl px-4 py-8 mx-auto lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Create Incident</h2>
      
      <form method="post">
        {% csrf_token %}
  
        <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
          <!-- Title field -->
          <div class="sm:col-span-2">
            <label for="{{ form.title.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Title
            </label>
            {{ form.title }}
            {% if form.title.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.title.errors }}</p>
            {% endif %}
          </div>
  
          <!-- Description field -->
          <div class="sm:col-span-2">
            <label for="{{ form.description.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Description
            </label>
            {{ form.description }}
            {% if form.description.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.description.errors }}</p>
            {% endif %}
          </div>

          <!-- Venue field -->
          <div class="sm:col-span-2">
            <label for="{{ form.venue.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Venue
            </label>
            {{ form.venue }}
            {% if form.venue.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.venue.errors }}</p>
            {% endif %}
          </div>

          <!-- Offender Name field -->
          <div class="sm:col-span-2">
            <label for="{{ form.offender_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Offender Name
            </label>
            {{ form.offender_name }}
            {% if form.offender_name.errors %}
              <p class="text-red-600 text-sm mt-1">{{ form.offender_name.errors }}</p>
            {% endif %}
          </div>
          <div class="sm:col-span-2">
            <label for="{{ form.warning.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Warning Status
            </label>
            {{ form.warning }}
            {% if form.warning.errors %}
                <p class="text-red-600 text-sm mt-1">{{ form.warning.errors }}</p>
            {% endif %}
          </div>
        
          <!-- Ban Select -->
          <div class="sm:col-span-2">
              <label for="{{ form.ban.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Ban Status
              </label>
              {{ form.ban }}
              {% if form.ban.errors %}
                  <p class="text-red-600 text-sm mt-1">{{ form.ban.errors }}</p>
              {% endif %}
          </div>
        </div>
     
  
        <button type="submit"
          class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-700">
          Create
        </button>
        <a href="{% url 'home' %}" 
           class="ml-2 inline-block text-sm text-gray-500 hover:underline dark:text-gray-400">
          Cancel
        </a>
      </form>
    </div>
  </section>
{% endblock content %}